
.dropdown {
    color: var(--color-secondary);
    display: flex;
    height: 40px;
    justify-content: space-between;
    align-items: center;
    margin-right: 16px;
}

.dropdown:hover {
    color: var(--color-secondary);
    text-decoration: none;
}

.dropdown_text {
    margin-right: 5px;
    margin-bottom: 0;
    transition: 0.8s;
}

.dropdown_icon {
    width: 18px;
}

@media only screen and (max-width: 600px) {
    .dropdown_text {
        font-size: 10px;
        margin-right: 5px;
        margin-bottom: 0;
    }
    .dropdown_icon {
        width: 12px;
    }
}

@media only screen and (max-width: 300px) {
    .dropdown {
        width: 44px;
        margin-right: 8px;
    }
    .dropdown_text {
        font-size: 10px;
        margin-right: 0;
        margin-bottom: 0;
    }
    .dropdown_icon {
        width: 12px;
    }
}

.dropdown_menu {
    color: var(--color-primary);
    background-color: var(--color-primary);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    border-radius: 2px;
}


.dropdown_menu_item {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.menu_item_text {
    color: var(--color-secondary);
}

.menu_item_text:hover {
    color: var(--color-secondary);
    text-decoration: none;
}
  