.main {
    background-color: var(--color-primary);
    display: flex;
    flex-direction: column;
    width: 100vw;
}

.body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.projects {
    margin-top: 100px;
    margin-bottom: 100px;
    width: 1262px;
    display: flex;
    flex-wrap: wrap;
}


.project {
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 150px;
    padding: 20px;
    margin: 10px;
    border: 1px solid var(--color-secondary);
    border-radius: 10px;
    transition: 0.9s;
}

.project:hover {
    background-color: var(--color-primary);
}

.projectName {
    color: var(--color-secondary);
    font-size: 16px;
}

.projectLink {
    color: var(--color-secondary);
    display: flex;
    width: 70px;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
}

.projectLink:hover {
    color: var(--color-secondary);
    border: none;
    text-decoration: none;
    background-color: var(--color-hover);    
}

