@import url('https://fonts.googleapis.com/css2?family=Unlock&display=swap');

html,
body {
  --color-primary: #2F3437;
  --color-secondary: #FFF;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

p, h2, h1, a {
  font-family: 'Unlock', cursive;
  color: var(--color-secondary)
}

nav > ul > li > a {
  text-decoration: none;
}

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

a.dropdown-item:hover {
  background-color: var(--color-primary);
}

a.dropdown-item:active {
 background-color: var(--color-primary);
}
